bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.ICanUseCassandra/.idea/indexLayout.xml
/.idea/.idea.ICanUseCassandra/.idea/projectSettingsUpdater.xml
/.idea/.idea.ICanUseCassandra/.idea/vcs.xml
/.idea/.idea.ICanUseCassandra/.idea/workspace.xml
